{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script type="module" src="{% static 'js/script.js' %}"></script>
</head>
<body background="{% static 'images/hoho.jpg' %}" style="background-attachment: fixed;" >

        <a href="https://genshin.mihoyo.com/ru/">
            <img class="logo" src="{% static 'images/logo.png' %}">
        </a>


        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="https://genshin.mihoyo.com/ru/home">Официальный <br>сайт</a>
            <a class="nav-link active" aria-current="page" href="{% url 'gallery' %}" >Галерея <br>персонажей</a>
            <a class="nav-link" href="{% url 'news' %}" >Новости<br>FAN</a>
        </nav>



<div class="kaif">
        <div class="dl-wrapper" style="">
                <div class="up">
                <a href="https://www.playstation.com/games/genshin-impact/" target="_blank" class="dl-btn dl-btn-ps4">
                    <img data-v-0c1f77f9="" src="https://webstatic-sea.mihoyo.com/upload/event/2021/04/27/e624f141d1aa1926b04e05756a94d0c0_4595387146162006406.png" alt="img">
                    </a>
                <a href="https://ys-api-os.mihoyo.com/event/download_porter/link/ys_global/genshinimpactpc/default" target="_blank" class="dl-btn dl-btn-windows">
                    <img data-v-0c1f77f9="" src="https://webstatic-sea.mihoyo.com/upload/event/2020/11/02/8814dc2abac500b8398697155fb6f22b_7885911367854491073.png" alt="img">
                </a>
            </div>
                <div class="bottom">
                    <a href="https://apps.apple.com/app/id1517783697" target="_blank" class="dl-btn dl-btn-ios">
                <img src="https://webstatic-sea.mihoyo.com/upload/event/2020/11/02/c28bc4640ec4871d54f44ec90016388c_1053840216296627683.png" alt="img">
            </a>
                <a href="https://play.google.com/store/apps/details?id=com.miHoYo.GenshinImpact" target="_blank" class="dl-btn dl-btn-android">
                    <img src="https://webstatic-sea.mihoyo.com/upload/event/2020/11/02/9b07f8ccb09b878c919d218c5ac6feff_8024998288801268420.png" alt="img">
                </a>
                    <a href="https://www.epicgames.com/store/p/genshin-impact" target="_blank" class="dl-btn dl-btn-apk">
            <img src="https://webstatic-sea.mihoyo.com/upload/event/2021/06/09/766cfd58ba9934eb95549ff0630a418d_7822133271678089760.png" alt="img">
                    </a>
                </div>
            </div>
        </div>
</div>







<div class="video">
  <div class="click-for-video">
    <img src="{% static 'images/play.png' %}" class="play">
  </div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">
  <div class="youtube">
        <div class="close" >
            <i class="fas fa-times"></i>
       </div>
    <iframe class="youtube"></iframe>
  </div>
</span>
  <div class="youtube">
        <div class="close" >
            <i class="fas fa-times"></i>
       </div>
    <iframe class="youtube"></iframe>
  </div>
</div>
</span>









</body>
</html>