
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 bg-white border p-3" style="margin: 200px 0px">
            <h4 class="text-dark text-center">registration form</h4>
            <br>
            <form method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="lqGwHNz7UZqt3MsAxnI3CSmqULfhaCarRjr1DPVm04VKFCiaYwiKpSgX661H8USQ">
                <h5 class="lead m-2 text-dark text-center">username</h5>
                <input name="username" class="form-control" type="text" placeholder="username">
                <h5 class="lead m-2 text-dark text-center">password</h5>
                <input name="password1" class="form-control" type="password" placeholder="password">
                <h5 class="lead m-2 text-dark text-center">repeat password</h5>
                <input name="password2" class="form-control" type="password" placeholder="repeat password">
                <br>
                <button type="submit" class="btn bg-light border w-100">register</button>
            </form>
    </div>