{% extends 'news/news_home.html' %}

{% block title %}Форма по добавлению статей{% endblock %}

{% block content %}
  <div class="features"
       style="position:absolute;
    text-align:center;
    width: 550px;
    height: 650px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
   ">
        <h1>Форма по добавлению статей</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.intro }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить статью</button>
        </form>
             <div>
                <h6 class="m-2 text-dark text-center" style="position:fixed; top:870px; left:1600px;">
                    <a href="{% url 'news_home' %}" class="m-2" style="position: relative; text-decoration:none; color:white; top:50px;"> вернуться назад </a>
                </h6>
            </div>
    </div>

{% endblock %}
