.img-1{
    width:1100px;
    height:800px;
    position:absolute;
    top:150px;
    opacity: 0.7;
    background-image: url( "{% static 'images/white.png' %}" );
    border-radius: 5px;
}
.container{
    position:absolute;
    left:380px;
    text-decoration:none;
}
.block{
    position:absolute;
    left:100px;
    top:120px;
    width:10%;
    height:100px;
    z-index:1;
}
.fon-3{
    width: 100%;
    position:fixed;
    background-image: url( "{% static 'images/fon-3.png' %}" );
}
.pic {
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  top:250px;
  left:130px;
  text-align:center;
}
.pic1 {
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  top:450px;
  left:130px;
  text-align:center;
}

.pic2 {
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  top:670px;
  left:125px;
  text-align:center;
}
.lol{
    position:absolute;
    left:1650px;
    right:0px;
    top:130px;
    z-index: 100;
}
.block{
    position:absolute;
    width:90%;
    height:80px;
    margin:auto;
    top:40px;
    background-color:lightgray;
    opacity: 1;
}
.block p{
    position:absolute;
    text-align:center;
    color:black;
    bottom:0px;
    top:-10px;

    left:750px;
    font-size:60px;
}