{% extends 'layout.html' %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 bg-white border p-3" style="margin: 200px 0px">
            <h4 class="text-dark text-center">registration form</h4>
            <br>
            <form method="POST">
                {% csrf_token %}
                <h5 class="lead m-2 text-dark text-center">username</h5>
                <input name="username" class="form-control" type="text" placeholder="username">
                <h5 class="lead m-2 text-dark text-center">password</h5>
                <input name="password1" class="form-control" type="password" placeholder="password">
                <h5 class="lead m-2 text-dark text-center">repeat password</h5>
                <input name="password2" class="form-control" type="password" placeholder="repeat password">
                <br>
                <button type="submit" class="btn bg-light border w-100">register</button>
            </form>
            {% for message in messages %}
            <br>
            <div class="bg-warning border rounded p-1">
                <h6 class=" text-dark text-center mt-1">{{message}}</h6>
            </div>
            {% endfor %}

        </div>
        <br>
            {% if request.user.is_authenticated %}
            <div class="alert alert-info p-1" style="width:200px; height:40px; position:fixed; margin-top:700px;">
                <h6 class=" text-black text-center mt-1">Вы уже вошли в аккаунт</h6>
            </div>
            {% endif %}
            <h6 class="m-2 text-dark text-center"><a href="{% url 'news_home' %}" class="m-2" style="text-decoration:none; color:white;"> вернуться назад </a></h6>
    </div>
</div>

{% endblock  %}